/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* #################  CSS RESET ABOVE  ######################*/
html {
    font-size: 18px;
}

.work {
    /* background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 79%); 1st iteration*/
    /* background-image: linear-gradient(315deg,#14557b 0%,  #65a19a 70%); */ /* 2nd iteration */
    /* background-image: linear-gradient(315deg,#14557bd2 0%,  #65a19a 90%); */
    /* background: #7772A4;
    background: -moz-linear-gradient(top, #7772A4 0%, #22B0D0 82%, #7772A4 100%);
    background: -webkit-linear-gradient(top, #7772A4 0%, #22B0D0 82%, #7772A4 100%);
    background: linear-gradient(to bottom, #7772A4 0%, #22B0D0 82%, #7772A4 100%); */
    background: #65a19a;
    /* font-size: 18px; */
    margin: 0;
    padding: 0 15px;
}

a {
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}

.main {
    margin: 3em 0 0 0;
    display: flex;
    align-content: center;
    flex-direction: column;
    color: rgb(37, 37, 37);
}

/****** NAVBAR ******/
.nav__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2.2em;
    padding-left: 0;
}

.nav__link {   
    padding-left: 1em;
    padding-right: 1em;
    list-style-type: none;
    font-family: 'Roboto';
    font-size: 1.3em;
    font-weight: 600;
    color: whitesmoke;
}

.nav--underline {
    color: whitesmoke;
    text-decoration: dashed #65a19a;    
    transition: text-decoration 500ms steps(7, end) 75ms;
    cursor: pointer;
}


.nav__link:hover {
    text-decoration: solid underline whitesmoke 3px;
}


/****** HEADER SECTION ******/
.header {
    display: flex;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    word-spacing: 2px;
    margin-bottom: 10em;
    margin-top: 1rem;
}

.header__item {
    flex-basis: 100%
}

.header__item:first-child {
    margin-top: 3em;
}

.header__intro {
    font-size: 1.2rem;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 1.7em;
}

.header__headline {
    font-family: 'Castoro', serif;
    font-size: 6rem;
    line-height: 0.95;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.header__bio {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 1.6em;
    word-spacing: 2px;
}

.header__image-container {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

}

.header__image {
    max-width: 100%;
    max-height: 100%;
    
}

.header__teaser {
    text-align: center;
    margin-top: 2em;
    font-size: 1.2rem;
    word-spacing: 2px;
}

/* p tag eith link under image; cta means 'call to action' */
.header__teaser-text { 
    font-size: 0.75em;
    text-align: center;
    margin-top: 3em;
    display: inline;   
}

.header__about-me {
    display: inline-block;
    transition-property: transform;
    transition-duration: 300ms;
}

.header__about-me:hover {
    -moz-transform: translate(5px, 0px);
    -webkit-transform: translate(5px, 0px);
    -o-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    transform: translate(5px, 0px);
}

.header__about-me a {
    color: whitesmoke;
    padding-left: 4px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-size: 0.8em;
}

.header__about-me  a::after {
    content: "";
    background: url("../images/arrow-right.png") no-repeat;
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 3px;
}
    /* link to projects section */
    /*
    ### space between a tag and the ::after arrow isnt affected by the :hover effect
    ### so transform reverts when hovering between the two. Fix this. Maybe by using
    ### using div or span to group p tag and add hover to new div instead.
    */
.header__view-projects {
    margin-top: 2.5em;
    /* width: 112px; */
    /* transition: transform 500ms easeOutSine 1s; */
    transition-property: transform;
    transition-duration: 300ms;
}

.header__view-projects > a {
    color: whitesmoke;
    letter-spacing: 1.3px;
    font-size: 1.3em;
    font-weight: 400;
}

.header__view-projects > a::after {
    content: "";
    background: url(../images/chevron-down.png) no-repeat;
    background-size: 1.2em 1.2em;
    position: absolute;
    height: 1em;
    width: 1em;
    margin: 6px 0 0 10px;
}

.header__view-projects:hover {
    -moz-transform: translate(0px, 6px);
    -webkit-transform: translate(0px, 6px);
    -o-transform: translate(0px, 6px);
    -ms-transform: translate(0px, 6px);
    transform: translate(0px, 6px);

}

/****** FEATURED PROJECTS SECTION ******/
.projects {
    display: flex;
    justify-content: center;
    margin-bottom: 7em;
}

h2 {
    font-family: 'Castoro', serif;
    font-size: 3.1em;
    padding-bottom: 0.6em;
    margin: 0;
    font-weight: 600;
}

.projects-container {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 62em;        
}

.project-item {
    max-width: 62em;
    height: auto;
    border-top: 2px dotted rgb(37, 37, 37);
    padding: 2.25em 0 2.25em 0;
}

.project-item:last-child {
    border-bottom: 2px dotted rgb(37, 37, 37);
}
    /* info container */
/*** maybe add flex shrink so the image shrinks at a slower rate than the text */    
.project-info {
    display: flex;
    justify-content: space-between;
}
    /* project title */
.project-info > h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 2.6em;
    color: whitesmoke;

}

.expand-arrow {
    margin: 10px 5px 0 0;
    height: 30px;
    width: 30px;
}
    /* hidden info section container */
.hidden-proj-info {
    display: flex;
    margin: 2rem 1rem 1rem 1rem;
    /* flex-wrap: wrap; */
}

.hidden-proj-item {
    max-width: 50%;
}

.hidden-proj-info > .hidden-proj-item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tech-specs {
    display: flex;
    justify-content: space-evenly;
}
    /* tech-specs is the container for the uls */
.tech-specs ul {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    line-height: 1.5;
}
    /* titles of unordered lists */
.tech-specs ul li:first-child {
    font-weight: 500;
    
}
    /* project description */
.hidden-proj-item > p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    word-spacing: 1px;
    line-height: 2.5;
    font-size: 0.95em;
    padding: 0 2em 0 1.7em;
}
    /* container for links to proj demo, live, ... */
.proj-links {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 0.75em;
}
    
.link-item {
    color: whitesmoke;
    letter-spacing: 1.5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
}
    /* img gif of project demo */
.demo-gif {
    width: 100%;
    height: 25%;
    cursor: pointer;
}


/****** DIVIDER ******/
.divider {
    width: 62em;
    margin: auto;
}
    /* the criss-cross design */
.divider img {
    width: 62em;
    display: block;
    margin: auto;
}

/******* ABOUT ME PAGE *******/
.about {
    background-color: #8899a8;
}

.favorites {
    display: flex;
    justify-content: center;
    padding: 6.75em 0 3rem 0;
}
.favorites-container {
    display: flex;
    justify-content: space-between;
    width: 62em;
    flex-wrap: wrap;
    text-align: left;
}

.favorites-item {
    width: 20rem;
    height: 10rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    color: whitesmoke;
    letter-spacing: 0.75px;
}


/****** MY PROJECTS PAGE ******/
.my-projects {
    background-color: #7772A4;
}

.my-projects-section {
    display: flex;
    justify-content: center;
    margin-bottom: 7em;
}

.my-projects-container {
    display: flex;
    flex-flow: column wrap;
    flex-basis: 62em;        
}

.my-project-item {
    max-width: 62em;
    height: auto;
    border-top: 2px dotted rgb(37, 37, 37);
    padding: 2.25em 0 2.25em 0;
}

.my-project-item:last-child {
    border-bottom: 2px dotted rgb(37, 37, 37);
}

.my-project-info {
    display: flex;
    justify-content: space-between;
}
    /* project title */
.my-project-info > h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 2.6em;
    color: whitesmoke;

}

.my-projects-title {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    margin-top: 5.2em;
    width: 50%;
}

.my-projects-title p {
    font-family: 'Raleway', sans-serif;
    line-height: 2;
    font-size: 0.9em;
    word-spacing: 2px;
    letter-spacing: 0.45px;
    font-weight:500;
}

.my-projects-title h2 {
    padding-bottom: 0;
    font-size: 4.5em;
}

    /* hidden info section container */
.my-hidden-proj-info {
    display: flex;
    margin: 2rem 1rem 1rem 1rem;
    /* flex-wrap: wrap; */
}

.my-hidden-proj-item {
    max-width: 50%;
}

.my-hidden-proj-info > .my-hidden-proj-item:last-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* project description */
.my-hidden-proj-item > p {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    word-spacing: 1px;
    line-height: 2.5;
    font-size: 0.95em;
    padding: 0 2em 0 1.7em;
}


/****** FOOTER ******/
.footer {
    display: flex;
    justify-content: center;
    padding: 6.75em 0 3rem 0;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    width: 62em;
    flex-wrap: wrap;
    text-align: left;
}

.footer-item {
    width: 20rem;
    height: 10rem;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
    color: whitesmoke;
    letter-spacing: 0.75px;
}

.footer-item > p {
    padding-top: 10px;
}

.footer-item > h5 {
    font-family: 'Castoro', serif;
    font-size: 1.25em;
    color: rgb(44, 44, 44);
}
    /* bible quote footer item */
.footer-item:first-child {
    font-size: 0.9em;
    font-weight: 500;
    word-spacing: 2.25px;
    line-height: 1.5;
    color: rgb(44, 43, 43);
}

.footer-item:first-child > p {
    margin-top: 2px;
    padding-top: 0;
}

/****** EFFECTS ******/
.hidden {
    display: none;
}
/* ########  CHANGE QUERIES TO EM SIZE, NOT PX OR REM  ######### */
/****** ONLY MEDIA QUERIES ******/

@media (max-width: 43.06em) {
    .header-container {
        flex-wrap: wrap;        
    }
        /* image */
    .header__image {
        max-width: 90%;
        max-height: 90%;    
    } 
}

@media (max-width: 45em) {
    .project-info > h3 {
        font-size: 1.7rem;
    }

    .header-container {
        flex-wrap: wrap;        
    }
        /* image */
    .header__image {
        max-width: 90%;
        max-height: 90%;    
    } 

    .hidden-proj-info > p {
        font-size: 0.8em;
    }
}

@media (max-width: 46.06em) {
    .hidden-proj-info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .hidden-proj-item {
        max-width: 80%;
        height: auto;
    }

    .hidden-proj-item > p {
        padding: 1.1em 0.5em;
    }

    .tech-specs {
        justify-content: space-between;
    }
}

@media (max-width: 55.89em) {
    .footer-container {
        justify-content: space-between;
    }

    .header__item:last-child {
        align-self: center;
    }
}

@media (max-width: 64.44em) {
    .header__item {
        padding-left: 10px;
        padding-right: 10px;
    }

    .divider, .divider img {
        max-width: 100%;
    }
}
