/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* #################  CSS RESET ABOVE  ######################*/
html {
    font-size: 18px;
}

a {
    text-decoration: none;
}

.home {
    background: #65a19a;
    margin: 0 9rem;

}

.main {
    margin: 4em 0 0 0;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

/****** NAVBAR ******/
.nav {
    flex-basis: 100%;
}

.nav__container {
    display: flex;
    justify-content: center;
    margin-top: 2.2em;
    padding: 0;
    list-style: none;
    gap: 2.5em;
}

.nav__link {   
    font-family: 'Rubik', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;

}

.nav--underline {
    position: relative;
    color: whitesmoke;
}
  
.nav--underline::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: whitesmoke;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav--underline:hover::after {
    transform: scaleX(1);
}
  
/****** HEADER SECTION ******/
.header {
    display: flex;
    justify-content: space-around;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    word-spacing: 2px;
    margin-top: 2rem;
    gap: 2rem;
}

.header__item {
    flex-basis: 100%
}

.header__item:first-child {
    margin-top: 3em;
}

.header__intro {
    font-size: 1.2rem;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 1.7em;
}

.header__headline {
    font-family: 'Castoro', serif;
    font-size: 4.5rem;
    line-height: 0.95;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.header__bio {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 1.6em;
    word-spacing: 2px;
}

.header__image-container { 
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    height: auto; 
}

.header__image {
    max-width: 100%;
    max-height: 100%;
}

.header__teaser {
    text-align: center;
    margin-top: 2em;
    font-size: 1.2rem;
    word-spacing: 2px;
}

/* p tag eith link under image; cta means 'call to action' */
.header__teaser-text { 
    font-size: 0.75em;
    text-align: center;
    margin-top: 3em;
    display: inline;   
}

.header__about-me {
    display: inline-block;
    transition-property: transform;
    transition-duration: 300ms;
}

.header__about-me:hover {
    -moz-transform: translate(5px, 0px);
    -webkit-transform: translate(5px, 0px);
    -o-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    transform: translate(5px, 0px);
}

.header__about-me a {
    color: whitesmoke;
    padding-left: 4px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-size: 0.8em;
    text-decoration: none;
}

.header__about-me  a::after {
    content: "";
    background: url("../images/arrow-right-gray.png") no-repeat;
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 6px;
}

.header__view-projects {
    margin-top: 2.5em;
    /* width: 112px; */
    /* transition: transform 500ms easeOutSine 1s; */
    transition-property: transform;
    transition-duration: 300ms;
}

.header__view-projects > a {
    color: whitesmoke;
    font-size: 1.3em;
    font-weight: 400;
    text-decoration: none;
}

.header__view-projects > a::after {
    content: "";
    background: url(../images/chevron-down.png) no-repeat;
    background-size: 1.2em 1.2em;
    position: absolute;
    height: 1em;
    width: 1em;
    margin: 6px 0 0 10px;
}

.header__view-projects:hover {
    -moz-transform: translate(0px, 6px);
    -webkit-transform: translate(0px, 6px);
    -o-transform: translate(0px, 6px);
    -ms-transform: translate(0px, 6px);
    transform: translate(0px, 6px);

}

/******* ABOUT *******/
.about {
    background-color: #8899a8;
}

.about__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 4.6rem;
}

.about__item {
    flex-basis: 50%;
    max-width: 50%;
}

.about__about-me {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    letter-spacing: 0.75px;
}

.about__title {
    font-family: 'Castoro', serif;
    font-size: 4.55em;
    font-weight: 600;
    line-height: 0.75;
}

.about__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__image {
    margin: 0;
}

.about__contact-container {
    display: flex;
    gap: 1rem;
}

.about__contact-container > a {
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 0.75px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
}

/****** FEATURED PROJECTS SECTION ******/
.projects {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 7rem;
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    margin-top: 5.5rem;
}

.projects__section-title {
    font-family: 'Castoro', serif;
    font-size: 4.5rem;
    padding-bottom: 0.6rem;
    font-weight: 600;
}

.projects__item {
    height: auto;
    border-top: 2px dotted rgb(37, 37, 37);
    padding: 3rem 0 3rem 0;
    flex-basis: 100%;        
}

.projects__item:last-child {
    border-bottom: 2px dotted rgb(37, 37, 37);
}

/*** maybe add flex shrink so the image shrinks at a slower rate than the text */    
.projects__project-title-container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.projects__project-title {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 2.6rem;
    color: whitesmoke;
}

.projects__project-title-arrow {
    margin: 1.1em 1em 0 0;
    height: 2.2em;
    width: 2.2em;
}

.projects__project-title-arrow--down {
    transform: rotate(90deg);
}

.projects__hidden-details-container {
    display: flex;
    margin: 2rem 1rem 1rem 1rem;
    justify-content: center;
    gap: 3rem;
}

.projects__hidden-details {
    max-width: 50%;
}

.projects--flex-column-sa {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.projects__tech-specs-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    justify-self: flex-end;
}

.projects__tech-specs {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    line-height: 1.5;
    list-style: none;
    padding: 0 1.5em 0 1.5em;
}

.projects__tech-specs-title {
    font-size: 1.1em;
    letter-spacing: 1.5px;
    font-weight: 300;
    text-decoration: underline;
    list-style: none;
    padding-bottom: 0.2em;
}

.projects__description {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    word-spacing: 1px;
    line-height: 2.25;
    font-size: 1.25rem;
    /* padding: 0 2em 2em 2em; */
    justify-self: flex-start;
}

.projects__links-container {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: 0.75em;
    padding-left: 0;
    gap: 5rem;
}
    
.projects__link {
    color: whitesmoke;
    letter-spacing: 1.5px;
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    font-size: 1.1em;
}

.projects__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 1.5em; */
}

.projects__image {
    width: 28rem;
    height: 22rem;
    cursor: pointer;
}

/****** DIVIDER ******/
.divider {
    width: 100%;
    margin: auto;
}
    /* the criss-cross design */
.divider__image {
    width: 100%;
    margin: auto;
}

/****** FOOTER ******/
.footer {
    margin: 6.75em 0 3rem 0;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footer__item {
    width: 20rem;
    height: 10rem;
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    letter-spacing: 0.75px;
}

.footer__item-header {
    font-family: 'Castoro', serif;
    font-size: 1.3em;
    color: rgb(44, 44, 44);
}

.footer__link {
    padding-top: 10px;
}

.footer__link--transform {
    transition-property: transform;
    transition-duration: 300ms;
}

.footer__link::after {
    content: "";
    background: url("../images/arrow-right-gray.png") no-repeat;
    position: absolute;
    height: 20px;
    width: 20px;
    margin-left: 3px;
}

.footer__link:hover {
    -moz-transform: translate(5px, 0px);
    -webkit-transform: translate(5px, 0px);
    -o-transform: translate(5px, 0px);
    -ms-transform: translate(5px, 0px);
    transform: translate(5px, 0px);
}

/* bible quote footer item */
.footer__item:first-child {
    font-size: 0.9em;
    font-weight: 500;
    word-spacing: 2.25px;
    line-height: 1.5;
    color: rgb(44, 43, 43);
}

.footer__item:first-child > p {
    margin-top: 2px;
    padding-top: 0;
}

/****** EFFECTS ******/
.hidden {
    display: none;
}

/* ########  CHANGE QUERIES TO EM SIZE, NOT PX OR REM  ######### */
/****** ONLY MEDIA QUERIES ******/
@media (max-width: 1428px) {
    .home {
        margin: 0 2rem;
    }

    .header__intro {
        font-size: 1.1rem;
    }

    .header__headline {
        font-size: 4.5rem;
    }

    .header__bio {
        font-size: 1.1rem;
    }

    .about__title {
        font-size: 4.5em;
    }

    .projects__section-title {
        font-size: 4.5rem;
    }

    .projects__project-title {
        font-size: 2.5rem;
    }

    .projects__description {
        font-size: 1.1rem;
    }

    .projects__tech-specs {
        font-size: 0.9rem;
    }
}

@media (max-width: 1332px) {
    .header__intro {
        font-size: 1.1rem;
    }

    .nav__container {
        gap: 1.5em;
    }

    .nav__link {
        font-size: 1.1em;
    }

    .header__bio {
        font-size: 1rem;
    }

    .header__teaser {
        font-size: 1rem;
        letter-spacing: 0.5px;
        word-spacing: 0.5px;
    }

    .about__about-me {
        font-size: 1rem;
    }
    
    .projects__description {
        font-size: 1rem;
    }

    .projects__project-title {
        font-size: 2.3rem;
    }
}

@media (max-width: 1280px) {
    .header__headline {
        font-size: 4rem;
    }

    .header__bio {
        font-size: 1rem;
    }

    .about__title {
        font-size: 4em;
    }

    .projects__section-title {
        font-size: 4rem;
    }

    .projects__project-title {
        font-size: 2.2rem;
    }

    .projects__description {
        font-size: 1rem;
    }

    .projects__tech-specs {
        font-size: 0.9rem;
    }
}

@media (max-width: 1200px) {
    .header__headline {
        font-size: 3.5rem;
    }

    .header__bio {
        font-size: 1rem;
    }

    .about__title {
        font-size: 3.5em;
    }

    .projects__section-title {
        font-size: 3.5rem;
    }

    .projects__project-title {
        font-size: 2.1rem;
    }

    .projects__description {
        font-size: 1rem;
    }

    .projects__tech-specs {
        font-size: 0.9rem;
        padding: 0 1em 0 1em;
    }
}

@media (max-width: 1100px) {

    .header__headline {
        font-size: 3.5rem;
    }

    .header__bio {
        font-size: 1rem;
    }

    .header__view-projects {
        margin-top: 2rem;
    }

    .header__view-projects > a {
        font-size: 1.2em;
    }

    .about__title {
        font-size: 3.5em;
    }

    .about__contact-container > a {
        font-size: 1rem;
    }

    .projects__section-title {
        font-size: 3.5rem;
    }

    .projects__project-title {
        font-size: 2rem;
    }

    .projects__image {
        width: 25rem;
        height: 20rem;
    }

    .projects__link {
        font-size: 1rem;
    }

    .projects__description {
        font-size: 1rem;
    }

    .projects__tech-specs {
        font-size: 0.9rem;
        padding: 0 1em 0 1em;
    }
}

@media (max-width: 1024px) {

    .header__intro {
        font-size: 0.8rem;
    }

    .header__headline {
        font-size: 3.5rem;
    }

    .header__bio {
        font-size: 1rem;
    }

    .header__view-projects {
        margin-top: 2rem;
    }

    .header__view-projects > a {
        font-size: 1.1em;
    }

    .about__title {
        font-size: 3.5rem;
    }

    .about__about-me {
        font-size: 0.9rem;
        gap: 1rem;
    }

    .about__contact-container > a {
        font-size: 1rem;
    }

    .projects__section-title {
        font-size: 3.5rem;
    }

    .projects__project-title {
        font-size: 2rem;
    }

    .projects__image {
        width: 25rem;
        height: 20rem;
    }

    .projects__link {
        font-size: 1rem;
    }

    .projects__description {
        font-size: 1rem;
    }

    .projects__tech-specs {
        font-size: 0.9rem;
        padding: 0 1em 0 1em;
    }
}

@media (max-width: 1023px) {
    .main {
        margin-top: 0;
    }

    .header__item--margin-top {
        margin-top: 2rem;
    }

    .header__intro {
        font-size: 0.8rem;
    }

    .header__headline {
        font-size: 3.5rem;
    }

    .header__bio {
        font-size: 1rem;
    }

    .header__view-projects {
        margin-top: 2rem;
    }

    .header__view-projects > a {
        font-size: 1.1em;
    }

    .about__title {
        font-size: 3.5rem;
    }

    .about__about-me {
        font-size: 0.9rem;
        line-height: 1.4;
    }

    .about__contact-container > a {
        font-size: 1rem;
    }

    .projects__section-title {
        font-size: 3.5rem;
    }

    .projects__item {
        padding: 2.25rem 0 2.25rem 0;
    }

    .projects__project-title {
        font-size: 2rem;
    }

    .projects__image {
        width: 25rem;
        height: 20rem;
    }

    .projects__link {
        font-size: 1rem;
    }

    .projects__description {
        font-size: 1rem;
    }

    .projects__tech-specs {
        font-size: 0.9rem;
        padding: 0 1em 0 1em;
    }
}

@media (max-width: 1002px) {
    .header__headline {
        font-size: 3.3rem;
    }

    .header__bio {
        font-size: 0.9rem;
    }

    .header__view-projects {
        margin-top: 1.5rem;
    }

    .about__title {
        font-size: 3.3rem;
    }

    .projects__section-title {
        font-size: 3.3rem;
    }

    .projects__project-title {
        font-size: 1.9rem;
    }

    .projects__image {
        width: 25rem;
        height: 19rem;
    }

    .projects__link {
        font-size: 0.9rem;
    }

    .projects__description {
        font-size: 0.9rem;
    }

    .projects__tech-specs {
        font-size: 0.8rem;
        padding: 0 1em 0 1em;
    }

    .footer__item {
        width: 18rem;
        height: 10rem;
    }

    .footer__item-header {
        font-size: 1.2em;
    }

    .footer__link {
        font-size: 0.9em;
    }

    .footer__item:first-child {
        font-size: 0.8em;
    }

    .footer__item:first-child > p {
        margin-top: 4px;
    }
}

@media (max-width: 920px) {
    .header__headline {
        font-size: 3.1rem;
    }

    .projects__project-title {
        font-size: 1.7rem;
    }
}

/* the flex column breakpoint */
@media (max-width: 832px) {

    .nav__link {
        font-size: 1.2rem;

    }

    .header {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    .header__item:last-child {
        display: none;
    }

    .header__intro {
        font-size: 0.85rem;
    }

    .header__headline {
        font-size: 4rem;
    }

    .header__bio {
        font-size: 1.1rem;
    }

    .header__view-projects {
        margin-top: 1.5rem;
    }

    .header__view-projects > a::after {
        margin-left: 4px;
        margin-top: 1px;
        background-size: 1.5em 1.5em;
        height: 1.5em;
        width: 1.5em;
    }

    .header__view-projects > a {
        font-size: 1.2em;
    }

    .header__teaser-text {
        font-size: 0.8rem;
    }

    .header__about-me a {
        font-size: 0.8rem;
    }

    .header__about-me a::after {
        margin-left: 3px;
        margin-top: 0;
    }

    .about__container {
        flex-direction: column;
        align-items: center;
        gap: 1.75rem;
        padding-top: 0;
        margin-top: 4rem;
    }

    .about__item {
        flex-basis: 100%;
        max-width: 100%;
    }

    .about__about-me {
        font-size: 1.1rem;
        letter-spacing: 0.4px;
    }

    .about__contact-container {
        gap: 1.25rem;
    }

    .about__contact-container > a {
        font-size: 1rem;
    }

    .about__title {
        font-size: 4rem;
    }

    .projects {
        margin-top: 3.5rem;
        margin-bottom: 3rem;
    }

    .projects__section-title {
        font-size: 3.8rem;
    }

    .projects__project-title {
        font-size: 2rem;
    }

    .projects__image {
        width: 25rem;
        height: 19rem;
    }

    .projects__links-container {
        gap: 3em;
        padding-left: 0;
    }

    .projects__link {
        font-size: 0.9rem;
    }

    .projects__hidden-details-container {
        gap: 1.25rem;
    }

    .projects__description {
        line-height: 1.5;
        font-size: 0.9rem;
    }

    .projects__tech-specs-container {
        flex-wrap: wrap;
        padding-top: 1rem;
    }

    .projects__tech-specs-title {
        font-size: 0.85rem;
    }
    .projects__tech-specs {
        font-size: 0.8rem;
        line-height: 1.25;
    }

    .projects__project-title-arrow {
        margin: 0.7em 0.5em 0 0;
        height: 2em;
        width: 2em;
    }

    .footer {
        margin: 3rem 0 2rem 0;
    }

    .footer__item {
        width: 18rem;
        height: 8.5rem;
    }

    .footer__item-header {
        font-size: 1.2rem;
    }

    .footer__link {
        font-size: 0.9rem;
    }

    .footer__item:first-child {
        font-size: 0.8rem;
    }

    .footer__item:first-child > p:last-child {
        margin: 0.4rem 0 0 1rem;
    }
}

@media (max-width: 701px) {
    .projects__image {
        width: 25rem;
        height: 18rem;
    }

    .projects__description {
        line-height: 1.25;

    }

    .projects__tech-specs-container {
        padding-top: 0;
    }
}

@media (max-width: 678px) {
    .home {
        margin: 0 2rem;
    }

    .nav__container {
        gap: 1.8rem;
    }

    .header__headline {
        font-size: 3.8rem;
    }

    .about__title {
        font-size: 3.5rem;
    }

    .about__container {
        margin: 1rem 0 0 0;
        gap: 0;
    }

    .about__image-container {
        padding: 2rem 0;
    }

    .projects__section-title {
        font-size: 3.5rem;
    }

    .projects__project-title {
        font-size: 1.8rem;
    }
}

@media (max-width: 629px) {
    .home {
        margin: 0 1rem;
    }

    .nav__container {
        gap: 1.5rem;
    }

    .nav__link {
        font-size: 1.1rem;
    }

    .header__headline {
        font-size: 3.25rem;
    }

    .header__view-projects > a {
        font-size: 1.1em;
    }

    .header__bio {
        font-size: 1rem;
        letter-spacing: 0.4px;
    }

    .about__title {
        font-size: 3rem;
    }

    .about__about-me {
        font-size: 1rem;
    }

    .projects__section-title {
        font-size: 3rem;
    }

    .projects__project-title {
        font-size: 1.4rem;
    }
}

@media (max-width:618px) {
    .projects__project-title {
        font-size: 1.3rem;
    }
}

@media (max-width: 592px) {
    .projects__hidden-details-container {
        flex-direction: column;
        gap: 1.5rem;
    }

    .projects__hidden-details {
        max-width: 100%;
        gap: 1.5rem;
    }

    .projects__project-title {
        font-size: 1.3rem;
    }
}

/* Samsung Galaxy: S8+, S20 Ultra */
@media (max-width: 446px) {
    .nav__container {
        gap: 2rem;
    }

    .nav__link {
        font-size: 0.95rem;
    }

    .header {
        margin: 0.5rem 0;
    }

    .header__intro {
        font-size: 0.8rem;
    }
    .header__headline {
        font-size: 2.5rem;
    }

    .header__bio {
        font-size: 0.9rem;
    }

    .header__view-projects > a {
        font-size: 0.95rem;
    }

    .header__view-projects > a::after {
        margin-top: 3px;
        background-size: 1.5em 1.5em;
        height: 1.5em;
        width: 1.5em;
    }

    .about__image-container {
        padding: 1.5rem 0;
    }

    .about__about-me {
        font-size: 0.9rem;
        letter-spacing: 0.3px;
    }

    .about__contact-container {
        gap: 0.7rem;
    }

    .about__contact-container > a {
        font-size: 0.75rem;
    }

    .about__title {
        font-size: 2.5rem;
    }

    .projects {
        margin-top: 2.5rem;
        margin-bottom: 2rem;
    }

    .projects__section-title {
        font-size: 2.2rem;
    }

    .projects__item {
        padding: 1.8rem 0 1.8rem 0;
    }

    .projects__project-title {
        font-size: 1.1rem;
        letter-spacing: 0.2px;
        word-spacing: 0.2px;
    }

    .projects__image {
        width: 100%;
        height: 16rem;
    }

    .projects__link {
        font-size: 0.9rem;
    }

    .projects__hidden-details-container {
        margin: 2rem 0.25rem 1rem 0.25rem;
    }

    .projects__hidden-details {
        gap: 1rem;
    }

    .projects__description {
        font-size: 0.9rem;
        line-height: 1.25;
    }

    .projects__tech-specs-title {
        font-size: 0.9rem;
    }

    .projects__tech-specs {
        font-size: 0.85rem;
        padding: 0.25rem;
    }

    .projects__project-title-arrow {
        margin: 0.2em 0.5em 0 0;
        height: 1.3em;
        width: 1.3em;
    }

    .footer {
        margin: 2rem 0 1rem 0;
        height: auto;
    }

    .footer__item {
        height: 7rem;
    }

    .footer__item-header {
        font-size: 0.9rem;
    }

    .footer__link {
        font-size: 0.75rem;
        padding-top: 8px;
    }

    .footer__link::after {
        margin: 1px 2px 0 2px;
        height: 18px;
        width: 18px;
        background-size: 18px 18px;
    }

    .footer__item:first-child {
        font-size: 0.6rem;
        word-spacing: 0.25px;
        line-height: 1.25;
    }

    .footer__item:first-child p:last-child {
        margin: 0.4rem 0 0 0;
    }
}

@media (max-width: 392px) {
    .projects__project-title {
        font-size: 1rem;
    }
}